* {
    box-sizing: border-box;
  }

.images{
   
   
    
   
   transition: all 3s ease-in-out;
 
  max-width: 1200px;
  float: left;
  width: 33,33%;
  padding: 1px;
   
}

.images img:hover{
    transform: translateY(-1px); 
}
.image{
    margin: 5px;
    float:left;
    width:300px;
    box-sizing: border-box;
}
.image img{
    width: 70%;
    height: 120px;
    
}
.images::after{
    content: "";
    clear: both;
    display: table;
}